@import "tokens";
@import "mixins";
@import "reset";
@import "components/cannon";
@import "components/motor";
@import "components/pipes";

.yamato {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
